
.img-fit {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-duration: 3s;
}

html {
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-block {
  width:50%;
  height:auto;
  min-height: 400px;
  background: #eee;
  padding: 10px;
  padding-top:20px;
  margin:6% auto 6% auto;
  box-shadow: -0.2px 3px 15px 1px #444;
}

.highlight {
  text-decoration: underline;
  cursor: pointer;
  color:inherit;
}


.highlight:hover {
  text-decoration: none;
  cursor: pointer;
  background: yellow;
}

.social-icons {
  font-size:25px;
  text-align: center;
}
.social-icons  span{
  border-radius: 40%;
  padding:6px;
  margin: 10px;
}

.social-icons a {
  color:inherit;
}
.social-icons span:hover {
  background: yellow;
}
@media screen and (max-width:550px) {
  .main-block {
    width:90%;
  }
}

.p-name {
  text-align: center;
  font-size: 4.4vh;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  line-height: 3px;
  word-break: break-all;
}

.p-sub {
  font-size: 2.4vh;
  font-weight: 600;
  line-height: 30px;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

.hr-c {
    height:2px;
    width: 100%;
    margin-bottom: 10px;
}
.hid {
  display: none;
}

.btn-lg {
  font-weight: 600;
  margin-top: 6px;
  object-fit: contain;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 6px;
  font-family: "Raleway", sans-serif;
  transition: all 0.3s ease-in-out;
}

